body {
    background-image: url(../image/wallpaper1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: block;
}

* {
    box-sizing: border-box;
}

header {
    display: block;
}

.img-home-title {
    width: 139px;
}

.title-home h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.content .main,
img {
    margin: 15px 0 15px 0;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    color: white;
    font-weight: 600;
    text-align: center;
    font-style: italic;
}

p {
    color: white;
    font-size: 14px;
    font-style: oblique;
}


/* NAVBAR */


/* Taille d'écran */


/* Grand Ecran */

.navigable-bar {
    top: 0;
    height: auto;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    justify-content: center;
}

.navigable-bar-min {
    display: none;
}

.navigable-bar ul {
    margin: 0;
}

.navigable-bar ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 22px;
}

.navigable-bar ul li a {
    text-decoration: none;
    color: white;
}

.navigable-bar ul li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
}


/* Moyen Ecran */

@media all and (max-width: 800px) {
    .navigable-bar {
        justify-content: space-around;
    }
}


/* Petit Ecran */

@media all and (max-width: 900px) {
    .navigable-bar {
        top: 0;
        height: 12%;
        width: 100%;
        position: fixed;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .navigable-bar-min {
        display: block;
        margin: 21px 0px 21px 0px !important;
        padding: 0;
    }
    .naviglabe-bar-max {
        display: none;
    }
    .navigable-bar ul li i {
        font-size: 12px;
        color: white;
    }
    .navigable-bar ul li a {
        font-size: 12px;
        color: white;
        font-weight: 600;
    }
    .navigable-bar ul li {
        list-style-type: none;
        font-size: 22px;
        color: white;
        padding: 0px;
    }
}


/* FLEX */

.title-home {
    color: #29356b;
    font-weight: 600;
    min-height: 90vh;
    font-size: 45px;
    margin-top: 8vh;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.center-bloc-title {
    justify-content: center;
}

.alignement-center {
    align-items: center;
}

.content {
    padding: 10px;
    margin: 5vh;
}

.main {
    min-height: 100px;
}

.newsletter {
    min-height: 40vh;
}

.contact {
    min-height: 40vh;
}

.al-ctnt-space-ar {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    place-items: center;
}

.text-centrer {
    text-align: center;
}

.form-contact-ass {
    margin: 15px;
    padding: 15px;
    flex: auto;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.map-contact-ass {
    margin: 15px;
    padding: 15px;
}

.bg-color-1 {
    background-color: #1d2138;
}

.bg-color-2 {
    background-color: rgb(10, 54, 10);
}

.bg-color-3 {
    background-color: rgb(119, 11, 11);
}

.bg-color-3-4 {
    background-color: rgb(148, 84, 61);
}

.bg-color-4 {
    background-color: rgb(103, 44, 105);
}

.bg-color-opaque-5 {
    background-image: linear-gradient(45deg, #0c0a0a38, #0000003b);
}


/* BTN BOOTSTRAP */

.btn-perso {
    margin-left: 10px;
    font-weight: 600;
    font-size: 13px;
}


/* FOOTER */

footer {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container-footer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

footer h1 {
    padding-top: 28px;
}